[SERVICE]               
    Flush        5      
    Daemon       Off    
    Log_Level    info   
    Parsers_File parsers.conf                   

[INPUT]                 
    Name cpu
    Tag  cpu.{{ ansible_hostname }}
    Interval_Sec 5

[INPUT]
    Name disk
    Tag disk.{{ ansible_hostname }}
    Interval_Sec 5

[INPUT]
    Name kmsg
    Tag kmsg.{{ ansible_hostname }}

[INPUT]
    Name mem
    Tag mem.{{ ansible_hostname }}

[INPUT]                 
    Name tail
    Tag  tail.{{ ansible_hostname }}
    Path /var/log/messages
    
[OUTPUT]                
    Name  forward 
    Match *
    Host  {{ server_1 }}
    Port  24224
    time_as_integer true
